# .env.example

# Server port
PORT=5000

# MongoDB connection string (use "mongodb://" or "mongodb+srv://")
DB_URL=mongodb://localhost:27017/tour-management-backend

# Environment (can be 'development' or 'production')
NODE_ENV=development
